<html>
    <head>
        <style>
            table, th, td {
                border-style: solid;
                border-width: 1px;
            }
        </style>
    </head>
    <body>
        <div id="vue-app">
            <div>VSEVOLOD SYRTSOV 18323202</div>
            <input v-model="city">
            <button v-on:click="getWeatherData">Get Weather Data</button>
            <div style="margin-top: 10px; margin-bottom: 10px;width: 50%;border-top: solid;border-bottom: solid;border-width: 1px;border-color: lightslategray;">
                <div v-if="Rain" style="margin-top:3px;margin-bottom: 3px;">You should pack an umbrella.</div>
                <div v-else style="margin-top:3px;margin-bottom: 3px;">No need for an umbrella.</div>
                <div v-if="Mask" style="margin-top:3px;margin-bottom: 3px;">...and also wear a mask.</div>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Wind Speed</th>
                    <th scope="col">Rainfall</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="weather in weatherInfo">
                    <td><b>{{weather.time}}</b></td>
                    <td>{{weather.temp}}</td>
                    <td>{{weather.wind}}</td>
                    <td>{{weather.rain}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script >
        var app = new Vue({
            el: '#vue-app',
            data: {
                weatherInfo: [],
                city: "Dublin,IE",
                Rain: false,
                Mask: false,
            },
            methods: {
                getWeatherData: function () {
                    
                    fetch(`http://localhost:3000/weather-and-pollution/${this.city}`).then(
                        function(response) {
                            if (response.status !== 200) {
                                console.warn('Looks like there was a problem. Status Code: ' +
                                response.status);
                                return;
                            }

                            // Examine the text in the response
                            response.json().then(function(data) {
                                Vue.set(app, "weatherInfo", data.weatherData)
                                Vue.set(app, "Rain", data.rainFlag)
                                Vue.set(app, "Mask", data.pollutionFlag)
                            });
                        }
                    )
                }
            }
        })
    </script>
</html>